.Selection-header {
    font-family: 'Georgia', sans-serif;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    justify-content: space-between; 
    background-color: white ;
    padding: 0.5rem;
    gap: 1rem;
    list-style: none;
    height: 70px;
    margin-top: 20px;
}