.App-logo {
    height: 10vh;
    pointer-events: none;
    border: 5px solid white;
    border-radius: 20px;
}

.Profile-pic {
    height: 10vh;
    pointer-events: none;
    border: 5px solid white;
    border-radius: 20px;
}

.App-header {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    justify-content: space-between; 
    background-color: #3A9EC9;
    padding: 0.5rem;
    gap: 1rem;
    list-style: none;
}

.App-navigation {
    flex: 1 1 auto;
}

.Nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
}

.Page-Link {
    font-size: 2rem;
    margin: 0 2rem 0 0;
}

.Home-Page-Link {
    font-size: 3rem;
    margin: 0 2rem 0 0;
}

.App-header a:link, .App-header a:visited {
    color: white;
    text-decoration: none;
}

.App-header a:hover, .App-header a:active {
    color: black;
}

.left-section {
    gap: 1rem;
    display: flex;
    align-items: center; 
}

.right-section {
    display: flex;
    align-items: center;
}