.App-logo {
    height: 10vh;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    display: flex;
    align-items: center;
    color: white;
    background-color: #282c34;
    padding: 0.5rem;
    gap: 1rem;
}

.App-title {
    font-size: 1.75rem;
    margin: 0;
    padding: 0;
}

.App-header a:link, .App-header a:visited {
    color: #fff;
    text-decoration: none;
}

.App-header a:hover, .App-header a:active {
    color: #fff;
}