.App-logo {
    height: 10vh;
    pointer-events: none;
}

.Profile-pic {
    height: 10vh;
    pointer-events: none;
}

.App-header {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: #aa2727;
    padding: 0.5rem;
    gap: 1rem;
}

.App-navigation {
    flex: 1 1 auto;
}

.Nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
}

.Page-Link {
    font-size: 2rem;
    margin: 0 2rem 0 0;
}

.Home-Page-Link {
    font-size: 3rem;
    margin: 0 2rem 0 0;
}

.App-header a:link, .App-header a:visited {
    color: #000000;
    text-decoration: none;
}

.App-header a:hover, .App-header a:active {
    color: #fff;
}